<p style="color: green"><%= notice %></p>

<h3>Friends</h3>

<style>
  friends{
    display: flex;
    flex-direction: row;
    # grid-template-columns: auto auto;
    # grid-template-rows: auto auto;
    # align-items: center;
    # justify-content: center;
    # gap: 20px;
    # border: 1px solid blue;
  }

</style>

<%= link_to "Novo amigo", new_friend_path %>

<div id="friends">
  <% @friends.each do |friend| %>
    <%= render friend %>
    <p>
      <%= link_to "Detalhes", friend %>
    </p>
  <% end %>
</div>
