<style>
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #233142;
  width: 100%;;
  font-family: 'Roboto', sans-serif;
}

ul{
  display: flex;
  list-style-type: none;
  margin: 4px;
  gap: 12px;
  align-items: center;
  width: 50%;;
  justify-content: space-evenly;
}

#anchor{
  text-decoration: none;
  color: white;
  background-color: #233142;
  width: auto;
  transition: 0.5s all ease-in-out;
}

#anchor:hover{
  transition: 0.5s all ease-in-out;
  background-color: #fff;
  cursor: pointer;
  color: #233142;
}

nav{
  display: flex;
  list-style-type: none;
  margin: 4px;
  justify-content: space-between;
  width: 100%;;
}

.search_box{
  display: flex;
  list-style-type: none;
  margin: 4px;
  gap: 10px;
  align-items: center;
}

#input_search{
  # width: 100%;
  padding: 5px;
  border-radius: 2px;
  border: none;
  outline: none;
}

</style>


<header>
<nav>
  <ul>
    <a id="anchor" href="/">
    <h1>FriendList</h1>
    </a>
    <a id="anchor" href="/friends/new">Adicionar Amigo</a>
    <a id="anchor" href="/friends">Meus Amigos</a>
    <a id="anchor" href="/home/about">Sobre</a>
  </ul>
  <div class="search_box">
  <input id="input_search" type="search" placeholder="Search a friend"/>
  <button>Search</button>
  </div>
</nav>
</header>
