<style>
  .container_about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2{
    color: red;
  }

</style>


<div class="container_about">


<h3>Sobre nós</h3>

<p>Esse site organiza seus contatos de forma ágil e prática.</p>
</div>
