<!DOCTYPE html>
<html>
  <head>
    <title>FriendListRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>


    </head>

    <body>

    <style>
      header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: black;
      }

      ul{
        display: flex;
        list-style-type: none;
        margin: 4px;
        justify-content: space-between;
        width: 100%;;
      }

      a{
        text-decoration: none;
        color: white;
      }

    </style>


    <header>
      <nav>
        <ul>
          <a href="/">Home</a>
          <a href="/home/about">Sobre Nós</a>
        </ul>
      </nav>
    </header>


    <%=yield%>
  </body>
</html>
